.grid {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.card-image {
	.image {
		height: 300px;
		a {
			display: grid;
			img {
				align-self: center;
				justify-self: center;
				max-height: 300px;
				width: auto;
			}
		}
	}
}